{% extends 'blog/base.html' %}
{% load markdownify %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}
<div class="post">
    {% if post.published_date %}
    <!-- if the post has a publish date, then show the publish date -->
        <div class="date">
            {{ post.published_date }}
        </div>
    {% else %}
    <!-- else show the publish button to post the draft -->
        <a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-primary">Publish</a>
    {% endif %}
    <br>
    {% if user.is_authenticated%}
    <!-- only logged in users can view/edit their posts -->
    <a href="{% url 'post_edit' pk=post.pk %}"><i class="fas fa-edit fa-2x" style="color: #ff922b;"></i></a>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.text | markdown | safe }}</p>

    <hr>
    <a href="{% url 'add_comment_to_post' pk=post.pk %}" class="btn btn-secondary">Add Comment</a>
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved %}
        <div class="comment">
            <div class="date">
                {{ comment.created_date }}
            </div>
            
            {% if not comment.approved and user.is_superuser %}
                <a href="{% url 'comment_approve' pk=comment.pk %}"><i class="far fa-check-circle"></i></a>    
                <a href="{% url 'comment_remove' pk=comment.pk %}"><i class="fas fa-trash-alt"></i></a>
            {% endif %}
            <strong>{{comment.author}}</strong> 
            <p>{{comment.text | markdown | safe | linebreaksbr }}</p>
        </div>
        {% endif %}
    {% empty %}
        <p>No comments yet...</p>
    {% endfor %}
</div>
{% endblock %}