{% extends 'blog/base.html' %}
{% block content %}
<div class="post">
    {% if post.published_date %}
    <!-- if the post has a publish date, then show the publish date -->
        <div class="date">
            {{ post.published_date }}
        </div>
    {% else %}
    <!-- else show the publish button to post the draft -->
        <a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-primary">Publish</a>
    {% endif %}
    <br>
    {% if user.is_authenticated%}
    <!-- only logged in users can view/edit their posts -->
    <a href="{% url 'post_edit' pk=post.pk %}"><i class="fas fa-edit fa-2x" style="color: #ff922b;"></i></a>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>
</div>
{% endblock %}